*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

section{
    margin-bottom: 100px;
}

h1{
    font-size: 60px;
    color: white;
    
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
    font-weight:900;
}

p{
    font-size: 20px;
    margin: 20px 0;
}

img{
    border-radius: 5px;
}

.btn-link{
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px 10px;
    width: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    transition: all .6s;
}

.btn-link:hover{
    background-color:teal;
    color: black;
    box-shadow: 1px 1px 45px rgba(0, 0, 0, .5);
    border: none;
    outline: none;
}

.header-baner{
    max-width: 100%;
    height: 650px;
    background-image: url(images/korbani-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
   
}

.header-baner::after{
    content: "";
    background-image: linear-gradient(90deg, rgba(5, 2, 2, 0.9), rgba(5, 1, 1, 0.0001) );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}


.left{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.header-baner .left h1, p, a{
    z-index: 1000;
    color: white;
}

.header-baner .left{
    margin-left: 250px;
    width: 600px;
}


.dflex{
    width: 100%;
    display: flex;
    justify-content: center;

}

.padding-text{
    padding-top: 50px;
}

.main-content .left h2, .needy h2{
    color: black;
}

.main-content .left p, .needy p{
    color: grey;
}

.right{
    height: 450px;
    width: 450px;
    margin-left: 100px;
    text-align: left;
}

#main-content-video{
    width: 450px;
    height: 100%;
    border-radius: 5px;
}

.needy{
    color: black;
}

.left img{
    height: 450;
    width: 450px;
}

.direct-help .section-heading{
    width: 550px;
}

.section-heading{
    text-align: center;
    margin: 0 auto;
}

.donate-zakat .section-heading{
    width: 700px;
}

.card{
    background-color: floralwhite;
    display: flex;
    margin: 15px;
    width: 380px;
    padding: 25px;
    transition: all 1s;
}

.card-text{
    padding-left: 25px;
}

.card-text p{
    width: inherit;
    color: black;
}

.images{
    width: 100%;
    text-align: center;
}

.images img{
    height: 420px;
    width: 330px;
}

.sec-img{
    margin: 0 20px;
    
}

.donate-zakat{
    text-align: center;
}

.sec-card-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.sec-card{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    width: 330px;
    height: 420px;
    border-radius: 5px;
}

.sec-card img{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.sec-card .card-text{
    padding: 0 35px;
    text-align: left;
    
}

.sec-card-container .card-text h4{
    font-size: 22px;
    margin-top: 20px;
}

.sec-card-container .card-text p{
    margin: 8px 0 20px 0;
}

.sec-card-container a{
    font-size: 20px;
    color: red;
    font-weight: 700;

}

.sec-card-container a:hover{
    color: teal;
}

footer{
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
}

footer h3{
    font-weight: 700;
    font-style: italic;
    padding-top: 40px;
    color: crimson;
}

footer p{
    text-align: center;
}

.card:hover{
    transition: all 1s;
}

.card:hover{
    background-color: cyan;
 }


